.about-content{
    margin: 0 auto;
    width: 70%;
    height: 100%;
    padding-bottom: 40px;
}

.about-layout{
    display: flex;
}

.text,.my-tech{
    width: 50%;
    justify-content: flex-start;
    transition: all ease 1.5s;
}

.slide-sideways{
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.text{
    text-align: left;
    line-height: 28px;
    display: flex;
    opacity: 0;
    transform: translateX(-20%);
}

.text p span{
    color: var(--accent-color);
}

.my-tech{
    margin-left: 30px;
    opacity: 0;
    transform: translateX(20%);
}

#abt-card-section{
    display: block;
}

#abt-row1, #abt-row2{
    margin: 0 !important;
    height: 100%;
    width: 100%;
    margin-bottom: 30px !important;
}

.tech-card{
    width: 20%;
}

.tech-card:not(:first-child){
    margin-left: 30px;
}

.tech-name{
    height: 100px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.205) 0px 7px 29px 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    transform: all .1s ease-in-out;
}

.tech-name:hover{
    transform: scale(1.1);
}

@media only screen and (max-width:480px){

    .about-content{
        width: 95%;
    }

    .about-layout{
        flex-direction: column;
    }

    .text,.my-tech{
        width: 100%;
    }

    .my-tech{
        margin: 20px 0 0 0;
    }

    .tech-stack p{
        text-align: left;
        line-height: 28px;
    }

    .tech-name{
        height: 90px;
        width: 90px;
    }

    .tech-card:not(:first-child){
        margin-left: 20px;
    }
}

