.footer{
    background-color: var(--services-color);
    padding: 21px;
    font-size: 16px;
    font-weight: 600;
    border-top: 2px solid var(--accent-color);
}

.footer-content{
    width: 100%;
    transform: translateY(50%);
    opacity: 0;
    transition: all ease 1s;
}

.footer-image{
    display: flex;
    margin: 0 auto;
    width: 70%;
}

.copyright i{
    font-size: 12.5px;
    margin:3px 3px 0 0;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer span:nth-child(2){
    padding-right: 20px;
    border-right: 1px solid gray;
}

.footer span:last-child{
    padding-left: 20px;
}

.footer-socials{
    display: none;
}

@media only screen and (max-width:480px){

    .footer{
        padding: 21px 21px 21px 0;
    }
    
    .footer-image{
        width: 95%;
        display: flex;
    }

    .footer-logo{
        width: 15%;
    }

    .footer-socials{
        display: flex;
        align-items: center;
        list-style: none;
        right: 0;
        width: 85%;
    }

    .footer-socials li{
        margin-right: 10px;
    }

    .footer-socials li i{
        color: var(--main-color);
    }
}

