.footer{
    background-color: var(--services-color);
    padding: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border-top: 2px solid var(--accent-color);
}

.footer-content i{
    font-size: 12.5px;
}

.footer span:nth-child(2){
    padding-right: 20px;
    border-right: 1px solid gray;
}

.footer span:last-child{
    padding-left: 20px;
}