.intro-section{
    margin-top: 150px;
    background-image: url('../person.8f814752.png');
    background-repeat: no-repeat;
    background-position-x: 42%;
    background-position-y: 0%;
    height: 100vh;
    display: flex;
    width: 100%;
}

.left-sticky-panel{
    width: 15%;
    position: sticky;
    left: 0;
}

.right-sticky-panel{
    width: 15%;
    position: sticky;
    right: 0;
}

.intro-content-section{
    width: 70%;
    display: flex;
}

.dev-name{
    width: 65%;
    margin-left: 10px;
}

.dev-name p{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold;
}

.dev-name p span:first-child span:first-child, .dev-name p span:nth-child(2) span:first-child{
    font-size: 53px;
}

.dev-name p span:nth-child(2) span:nth-child(2){
    color: var(--accent-color);
}

.description{
    width: 35%;
}

.divider{
    background-color:var(--accent-color);
    height: 2.5px;
    margin: 40px 0 0 0px;
    width: 6%;
}

.socials{
    margin-top: 20px;
    display: flex;
}

.socials li{
    list-style: none;
    margin-right: 10px;
    font-weight: bold;
    border-right: 10px;
    transition: all .1s ease;
}

.socials li:hover{
    color: var(--accent-color);
    cursor: pointer;
}

.socials li:not(:last-child){
    border-right: 2px solid grey;
    padding-right: 10px;
}

.cta-btn{
    margin-top: 40px;
}

.cta-btn button{
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 15px 20px;
    font-weight: bold;  
    background: none;
    font-size: 15px;
    transition: all .1s ease;
}

.cta-btn button:hover{
    background-color: var(--accent-color);
    color: black;
    cursor: pointer;
}

.description p{
    margin: 0 !important;
}

.description p:first-child{
    padding: 0 !important;
    font-size: 14px;
    color: var(--accent-color);
    font-weight: 560;
    margin-bottom: 20px;
}

.description :nth-child(2){
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    line-height: 45px;
}

.description p:nth-child(3){
    padding-top: 20px;
    line-height: 25px;
}

.learn-more{
    margin-top: 20px;
    width: 26%;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
}

.learn-more::after{
    margin-top: 5px;
}

.learn-more-icon{
    padding-left: 10px;
}

.carousel-counter{
    display: flex;
    justify-content: flex-end;
    margin-top: 130px;
    padding: 0 !important;
    align-items: center ;
    color: rgb(149,149,149);
}

.carousel-counter i{
    font-weight: bold;
    cursor: pointer;
}

.carousel-counter span:nth-child(2){
    font-size: medium;
    line-height: 0;
    padding-top: 0 !important;
    margin: -3px 15px 0 15px;
}

.carousel-counter i:hover{
    color:whitesmoke;
}

