.main-navbar, .services-content, .portfolio-content, .contact-content{
    display: flex;
    align-items: center;
    margin: 0 auto !important;
    width: 70%;
    padding-top: 40px;
}

.mobile-nav{
    display: none;
}

.image{
    background-color: var(--accent-color);
    margin:0 10px 0 0;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    border-radius: 50%;
}

.image img{
    height: auto;
    width: 30px;
}

.logo::after, nav div:nth-child(2) ul li::after,.contact-info::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    margin-top: 12px;
    left: 0;
    background-color: var(--accent-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.logo:hover::after, nav div:nth-child(2) ul li:hover::after, .contact-info:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav div:nth-child(2) ul li::after{
    margin-top: 38px;
}

.logo::after{
    margin-top: 60px;
}

.logo{
    width: 10%;
    font-size: 30px;
    font-weight:bold;
    padding: 0 5px;
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
}

.logo:hover{
    cursor: pointer;
}

.logo p{
    margin: 0 !important;
    padding: 0 !important;
    word-spacing: -.2em;
    padding: 20px 0;
    color: var(--main-color);
}

.logo p span:last-child{
    color: var(--accent-color);
}

.nav-menu-content{
    display: flex;
    width: 90%;
    justify-content: flex-end;
    padding: 20px 0;
    font-weight: medium;
}

.nav-menu-content ul{
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    display: flex;
    font-size:medium;
    font-weight: 600;
}

.nav-menu-content ul li{
    cursor: pointer;
    position: relative;
    transition: .1s ease;
}

.nav-menu-content ul li:hover{
    color: var(--untoned-main-color);
}
.nav-menu-content ul li:not(:last-child){
    margin-right: 25.5px;
}

.nav-menu-content ul li:nth-child(3) i{
    margin-left: 5px;
}

@media only screen and (max-width:480px){
    .main-navbar{
        display: none;
    }

    .mobile-nav{
        display: flex;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;
        position: relative;
    }

    .mobile-logo{
        width: 30%;
        display: flex;
        font-size: 20px;
        font-weight:bold;
        align-items: center;
        position: relative;
    }

    .mobile-logo p{
        margin: 0 !important;
        padding: 0 !important;
        word-spacing: -.2em;
        padding: 20px 0;
    }

    .mobile-logo span:last-child{
        color: var(--accent-color);
    }

    .mobile-nav-menu-content{
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }

    .mobile-hamburger{
        padding: 1px 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        border-radius: 4px;
    }

    .mobile-hamburger i{
        padding-top: 2.5px;
    }

    .dropdown-menu{
        position: absolute;
        left: 0;
        z-index: 100000;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.205) 0px 2px 0px 0px;
        top: 0;
        margin-top: 75px;
        display: none;
        transition: 1s ease-in-out;
        background-color: rgb(46,46,53);;
    }

    .show-menu{
        display: block;
    }

    .dropdown-content ul{
        margin: 0 !important;
        padding: 0 !important;
        height: 100%;
        list-style: none;
    }

    .dropdown-content ul li{
        padding: 20px 0;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .dropdown-content ul li:first-child{
        border-top: 1px solid var(--accent-color);
    }

    .dropdown-content ul li:not(:last-child){
        border-bottom: 1px solid var(--accent-color);
    }


    nav div:first-child::after, nav div:nth-child(2) ul li::after, .learn-more::after,.contact-info::after{
        content: '';
    }

    nav div:first-child:hover::after, nav div:nth-child(2) ul li:hover::after, .learn-more:hover::after, .contact-info:hover::after{
        transform: scaleX(0);
    }


}