nav{
    display: flex;
    width: 100%;
    align-items: center;
    color: rgb(218,218,218);
    margin: 0 auto !important;
    width: 70%;
    padding-top: 40px;
}

nav div:first-child::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    margin-top: 12px;
    left: 0;
    background-color: rgb(228,170,72);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav div:first-child:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav div:nth-child(2) ul li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    margin-top: 39px;
    left: 0;
    background-color: rgb(228,170,72);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav div:nth-child(2) ul li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo{
    width: 5%;
    font-size: 30px;
    font-weight:bold;
    padding: 0 5px;
    position: relative;
}

.logo:hover{
    cursor: pointer;
}

.logo p{
    margin: 0 !important;
    padding: 0 !important;
    word-spacing: -.2em;
    padding: 20px 0;
}

.logo p span:last-child{
    color: rgb(228,170,72);
}

.nav-menu-content{
    display: flex;
    width: 95%;
    justify-content: flex-end;
    padding: 20px 0;
    font-weight: medium;
}

.nav-menu-content ul{
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    display: flex;
    font-size:medium;
    font-weight: 600;
}

.nav-menu-content ul li{
    cursor: pointer;
    position: relative;
}

.nav-menu-content ul li i{
    color: rgb(218,218,218);
}

.nav-menu-content ul li:nth-child(5){
    border-right:2px solid rgb(115,115,119);
    cursor:auto;
}

.nav-menu-content ul li:not(:last-child){
    margin-right: 25.5px;
}

.nav-menu-content ul li:nth-child(3) i{
    margin-left: 5px;
}