.portfolio-section{
    height: 100%;
}

.portfolio-content{
    padding-top: 60px;
}

#portfolio-card-section{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
}


.card-row{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -20px;
}

.card-row:not(:first-child){
    margin-top: -80px;
}

.portfolio-card{
    display: flex;
    width: 100%;
    text-align: left;
}

.project-image{
    width: 50%;
}

.project-image img{
    height: auto;
    width: 100%;
}

.project-details{
    width: 50%;
    display: flex;
    align-items: center;
}

.details-wrapper{
    align-items: center;
}

.project-name{
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}

.project-description{
    line-height: 28px;
    margin: 20px 0 20px;
    font-weight: 400;
}


@media only screen and (max-width:480px){
    .portfolio-content{
        width: 95%;
        padding-top: 0;
    }

    .portfolio-card{
        flex-direction: column;
    }

    .card-row:not(:first-child){
        margin-top: 30px;
    }

    .project-image{
        width: 100%;
    }

    .project-details{
        width: 100%;
        text-align: center;
    } 

    #projects-section-card{
        padding-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.105) 0px 7px 29px 0px;
    }

    #projects-section-card:first-child{
        margin-top: 10px;
    }
}

