.project-section{
    width: 100%;
    padding-bottom: 40px;
}

.project-content{
    margin: 0 auto;
    width: 70%;
}

.project-details-wrapper{
    text-align: center !important;
}

.project-details-wrapper p{
    padding: 0 !important;
    margin: 0 !important;
}

.project-intro{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-snippet{
    width: 100%;
    margin-top: -250px;
}

.project-snippet img{
    height: auto;
    width: 60%;
}

.centered-container{
    margin: 0 auto;
    width: 50%;
    text-align: left;
    margin-top: -50px;
}

h1, h2{
    color: var(--accent-color);
}

h2{
    margin: 30px 0;
}

.summary-text{
    line-height: 28px;
}

.link-header{
    margin: 10px 0;
}

.links i{
    color: var(--untoned-main-color);
    font-size: 30px;
    margin-right: 50px;
}