.services-section{
    background-color: var(--services-color);
    height: 100%;
}

.services-content, .portfolio-content, .contact-content{
    display: block;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
}

.services-description, .portfolio-description, .contact-description{
    width: 100%;
}

.services-header, .intro-header{
    color: var(--accent-color);
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 500;
}

.services-header{
    margin-bottom: 20px;
}

.header-divider{
    width:3%;
    margin: 0 auto;
    color: var(--main-color);
    background-color: var(--accent-color);
    margin-bottom: 20px;
    height: 5px;
    border-radius: 20px;
}

.services-detail{
    margin: 0 auto;
    width: 50%;
    line-height: 28px;
}

.card-section, .analytics-section{
    margin: 70px 0 50px 0;
    display: flex;
    width: 100%;
}

.card, .numbers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--card-color);
    width: 25%;
    height: 40vh;
    align-items: center;
    transition: all .1s ease-in-out;
}

.card:hover{
    color: var(--accent-color);
    cursor: pointer;
}

.card:first-child, .numbers:first-child{
    margin-left: 10px !important;
}

.card:not(:last-child), .numbers:not(:last-child){
    margin: 0 30px 0 0;
}

.card i{
    font-size: 70px;
}

.card-title{
    margin: 10px 1px 20px 1px;
    font-size: 25px;
    font-weight: 400;
}

.analytics-section{
    margin-top: -1px;
    padding-bottom: 110px;
}

.numbers{
    background: none;
    height: 100%;
}

.figure{
    font-size: 35px;
    color: var(--accent-color);
    margin-bottom: 10px;
}
