.work-section{
    width: 100%;
    padding-bottom: 40px;
}

.work-content{
    margin: 0 auto;
    width: 70%;
}

.exp-layout{
    display: flex;
    width: 100%;
}

.company-list{
    width: 20%;
}

.company-list ul{
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
    display: block;
    text-align: left;
    margin-left: 10px;
}

.company-name{
    padding: 16px 20px;
    transition: all .1s ease;
    border-left: 2px solid var(--main-color);
    cursor: pointer;
}

.initial-active{
    border-left: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.company-name:hover{
    background-color: var(--card-color);
    color: var(--accent-color);
}

.clicked-company-name{
    border-left: 2px solid var(--accent-color);
    background-color: var(--card-color);
    color: var(--accent-color);
    cursor: pointer;
}

.duties{
    width: 80%;
    margin-left: 30px;
    text-align: left;
}

.company-wrapper{
    height: 50vh;
}

.basic-details{
    display: flex;
}

.title{
    font-weight: bold;
    margin:0 0 10px 0;
}

.organization{
    color: var(--accent-color);
}

.position{
    margin:0 0 30px 0;
    width: 40%;
}

.duration{
    font-size: 14px;
    width: 60%;
}

.accomplishment-list{
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    width: 60%;
}

.achievements-text p{
    line-height: 28px;
    margin: 0 !important;
    padding: 0 !important;
}

.accomplishment-list i{
    color: var(--accent-color);
    margin:6px 30px 0 0;
}

@media only screen and (max-width:480px){

    .work-section{
        margin: -40px 0 0 0;
    }
    .work-content{
        width: 95%;
    }

    .exp-layout{
        flex-direction: column;
    }

    .company-list{
        width: 100%;
        margin-bottom: 20px;
    }

    .company-list ul{
        margin-left: 0;
    }

    .company-name{
        border-left: none;
        border-bottom: 2px solid var(--main-color);
    }

    .initial-active{
        border-bottom: 2px solid var(--accent-color);
    }

    .clicked-company-name{
        border-bottom: 2px solid var(--accent-color);
    }

    .duties{
        width: 100%;
        margin-left: 0;
    }

    .accomplishment-list{
        width: 100%;
        padding: 0 !important;
    }

    .company-list ul{
        display: flex;
    }

    .position{
        width: 50%;
    }
    
    .duration{
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .accomplishment-list i{
        margin:6px 20px 0 0;
    }
    
}

